<div class="row">
	<div class="col-md-12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-green-haze">
					<i class="fa fa-download font-green-haze"></i>
					<span class="caption-subject bold uppercase">Importer un fichier CSV</span>
				</div>
			</div>
			<div class="portlet-body form">
				<form role="form" class="form-horizontal dropzone" action="" method="post" enctype="multipart/form-data">
					<div class="form-body">
						<div class="form-group form-md-line-input">
							<label class="col-md-2 control-label" for="file">Fichier CSV *</label>
							<span class="btn green fileinput-button">
								<i class="fa fa-plus"></i>
								<span> Ajouter un fichier... </span>
								<input type="file" name="file" id="file" required>
							</span>
						</div>

						<div class="form-group form-md-line-input js-select-locks">
							<label class="col-md-2 control-label" for="form_control_1">Type de l'import *</label>
							<div class="col-md-10">
								<select class="form-control" id="form_control_1" name="type" required>
									<option
										{% if pre_type == "keys" %}
											selected
										{% endif %}
										value="keys">
											Clés
									</option>

									<option
										{% if pre_type == "locks" %}
											selected
										{% endif %}
										value="locks">
										Canons
									</option>

									<option
										{% if pre_type == "keychains" %}
											selected
										{% endif %}
										value="keychains">
										Trousseaux
									</option>

									<option
										{% if pre_type == "users" %}
											selected
										{% endif %}
										value="users">
										Utilisateurs
									</option>

									<option
										{% if pre_type == "doors" %}
											selected
										{% endif %}
										value="doors">
										Portes
									</option>

									<option
										{% if pre_type == "rooms" %}
											selected
										{% endif %}
										value="rooms">
										Salles
									</option>

									<option
										{% if pre_type == "borrowings" %}
											selected
										{% endif %}
										value="borrowings">
										Emprunts
									</option>
								</select>
								<div class="form-control-focus"> </div>
							</div>
						</div>

					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-2 col-md-10">
								<button type="submit" class="btn blue">Importer</button>
								<button type="button" onclick="location.href='{{ previousUrl }}'" class="btn default">Retour</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- END SAMPLE FORM PORTLET-->
	</div>
</div>
