<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
	<!-- BEGIN CONTENT BODY -->
	<div class="page-content">
		<!-- BEGIN PAGE HEADER-->
		<!-- BEGIN THEME PANEL -->

		<!-- BEGIN PAGE BAR -->

		{% if title %}
		<div class="row">
			<div class="col-lg-10 col-xs-10 col-sm-10">
				<h1 class="page-title">
					{{ title }}
					{% if subtitle %}
						<small>{{ subtitle }}</small>
					{% endif %}
				</h1>
			</div>
			{% if title starts with 'Liste' %}
			<div class="col-lg-2 col-xs-2 col-sm-2">
				<form action="./?action=import" method="post" class="align-bottom">
					<input type="hidden" name="pre_type" value="{{activePage}}"/>
					<button type="submit" class="btn blue btn-outline btn-circle btn-sm active">Importer un fichier CSV</button>
				</form>
			</div>
			{% endif %}
		</div>
		{% endif %}
		<!-- END PAGE BAR -->
