<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">Page vide
	<small>Petit titre</small>
</h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="note note-info">
	<p> Page vide servant de base poour la suite, blablabla</p>
</div>
