<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
	<!-- BEGIN CONTENT BODY -->
	<div class="page-content">
		<!-- BEGIN PAGE HEADER-->
		<!-- BEGIN PAGE BAR -->
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<a href="../../../index.php">Home</a>
					<i class="fa fa-circle"></i>
				</li>
				<li>
					<a href="#">Blank Page</a>
					<i class="fa fa-circle"></i>
				</li>
				<li>
					<span>Page Layouts</span>
				</li>
			</ul>
		</div>
		<!-- END PAGE BAR -->
		<!-- BEGIN PAGE TITLE-->
		<h1 class="page-title"> Titre de la page
			<small>Sous-titre de la page</small>
		</h1>
		<!-- END PAGE TITLE-->
		<!-- END PAGE HEADER-->
		<div class="note note-info">
			<p> Note d'information </p>
		</div>
	</div>
	<!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
