
							</a>
						</li>
						<li class="nav-item  ">
							<a href="./?action=createKeychain" class="nav-link ">
								<span class="title">Créer un trousseau</span>
							</a>
						</li>
					</ul>
				</li>

			</ul>
			<!-- END SIDEBAR MENU -->
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->
	</div>
	<!-- END SIDEBAR -->

				<li class="nav-item  {% if activePage == 'door' %}active open{% endif %}">
							</a>
						</li>
						<li class="nav-item  ">
							<a href="./?action=createDoor" class="nav-link ">
								<span class="title">Ajouter une porte</span>
							</a>
						</li>
					</ul>
				</li>

				<li class="nav-item  {% if activePage == 'room' %}active open{% endif %}">
					<a href="javascript:;" class="nav-link nav-toggle">
						<i class="fa fa-columns"></i>
						<span class="title">Salles</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li class="nav-item  ">
							<a href="./?action=listRooms" class="nav-link ">
								<span class="title">Voir toutes les salles</span>
							</a>
						</li>

						<li class="nav-item  ">
							<a href="./?action=createRoom" class="nav-link ">
								<span class="title">Ajouter une salle</span>
							</a>
						</li>
					</ul>
				</li>

				<li class="nav-item  {% if activePage == 'lock' %}active open{% endif %}">
					<a href="javascript:;" class="nav-link nav-toggle">
						<i class="icon-lock"></i>
						<span class="title">Canons</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li class="nav-item  ">
							<a href="./?action=listLocks" class="nav-link ">
								<span class="title">Voir tous les canons</span>
							</a>
						</li>
						<li class="nav-item  ">
							<a href="./?action=createLock" class="nav-link ">
								<span class="title">Ajouter un canon</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item  {% if activePage == 'key' %}active open{% endif %}">
					<a href="javascript:;" class="nav-link nav-toggle">
						<i class="fa fa-key"></i>
						<span class="title">Clés</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li class="nav-item">
							<a href="./?action=listKeys" class="nav-link ">
								<span class="title">Voir toutes les clés</span>
							</a>
						</li>
						<li class="nav-item  ">
							<a href="./?action=createKey" class="nav-link ">
								<span class="title">Ajouter une clé</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item  {% if activePage == 'keychain' %}active open{% endif %}">
					<a href="javascript:;" class="nav-link nav-toggle">
						<i class="fa fa-tags"></i>
						<span class="title">Trousseaux</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li class="nav-item">
							<a href="./?action=listKeychains" class="nav-link ">
								<span class="title">Voir tous les trousseaux</span>
							</a>
						</li>
						<li class="nav-item  ">
							<a href="./?action=createKeychain" class="nav-link ">
								<span class="title">Créer un trousseau</span>
							</a>
						</li>
					</ul>
				</li>

			</ul>
			<!-- END SIDEBAR MENU -->
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->
	</div>
	<!-- END SIDEBAR -->
