
							</a>
						</li>
						<li class="nav-item  ">
							<a href="./?action=createKeychain" class="nav-link ">
								<span class="title">Créer un trousseau</span>
							</a>
						</li>
					</ul>
				</li>

			</ul>
			<!-- END SIDEBAR MENU -->
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->
	</div>
	<!-- END SIDEBAR -->

				<li class="nav-item  {% if activePage == 'door' %}active open{% endif %}">
							</a>
						</li>
						<li class="nav-item  ">
							<a href="./?action=createKeychain" class="nav-link ">
								<span class="title">Créer un trousseau</span>
							</a>
						</li>
					</ul>
				</li>

			</ul>
			<!-- END SIDEBAR MENU -->
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->
	</div>
	<!-- END SIDEBAR -->
