<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<!-- BEGIN SIDEBAR -->
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->
			<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
			<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
			<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
			<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
			<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
			<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
			<ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
				<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
				<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				<li class="sidebar-toggler-wrapper hide">
					<div class="sidebar-toggler">
						<span></span>
					</div>
				</li>

				<li>
					<div>
						<span>&nbsp;</span>
					</div>
					<div>
						<span>&nbsp;</span>
					</div>
				</li>

							</a>
						</li>
						<li class="nav-item  ">
							<a href="./?action=createKeychain" class="nav-link ">
								<span class="title">Créer un trousseau</span>
							</a>
						</li>
					</ul>
				</li>

			</ul>
			<!-- END SIDEBAR MENU -->
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->
	</div>
	<!-- END SIDEBAR -->

				<li class="heading">
					<h3 class="uppercase">Gestion du matériel</h3>
				</li>

                <li class="nav-item  {% if activePage == 'room' %}active open{% endif %}">
					<a href="javascript:;" class="nav-link nav-toggle">
						<i class="fa fa-columns"></i>
						<span class="title">Salles</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li class="nav-item  ">
							<a href="./?action=listRooms" class="nav-link ">
								<span class="title">Voir toutes les salles</span>
							</a>
						</li>
						<li class="nav-item  ">
							<a href="./?action=createRoom" class="nav-link ">
								<span class="title">Ajouter une salle</span>
							</a>
						</li>
					</ul>
				</li>

				<li class="nav-item  {% if activePage == 'door' %}active open{% endif %}">
					<a href="javascript:;" class="nav-link nav-toggle">
						<i class="fa fa-columns"></i>
						<span class="title">Portes</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li class="nav-item  ">
							<a href="./?action=listDoors" class="nav-link ">
								<span class="title">Voir toutes les portes</span>
							</a>
						</li>

						<li class="nav-item  ">
							<a href="./?action=createDoor" class="nav-link ">
								<span class="title">Ajouter une porte</span>
							</a>
						</li>
					</ul>
				</li>

				<li class="nav-item  {% if activePage == 'lock' %}active open{% endif %}">
					<a href="javascript:;" class="nav-link nav-toggle">
						<i class="icon-lock"></i>
						<span class="title">Canons</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li class="nav-item  ">
							<a href="./?action=listLocks" class="nav-link ">
								<span class="title">Voir tous les canons</span>
							</a>
						</li>
						<li class="nav-item  ">
							<a href="./?action=createLock" class="nav-link ">
								<span class="title">Ajouter un canon</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item  {% if activePage == 'key' %}active open{% endif %}">
					<a href="javascript:;" class="nav-link nav-toggle">
						<i class="fa fa-key"></i>
						<span class="title">Clés</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li class="nav-item">
							<a href="./?action=listKeys" class="nav-link ">
								<span class="title">Voir toutes les clés</span>
							</a>
						</li>
						<li class="nav-item  ">
							<a href="./?action=createKey" class="nav-link ">
								<span class="title">Ajouter une clé</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item  {% if activePage == 'keychain' %}active open{% endif %}">
					<a href="javascript:;" class="nav-link nav-toggle">
						<i class="fa fa-tags"></i>
						<span class="title">Trousseaux</span>
						<span class="arrow"></span>
					</a>
					<ul class="sub-menu">
						<li class="nav-item">
							<a href="./?action=listKeychains" class="nav-link ">
								<span class="title">Voir tous les trousseaux</span>
							</a>
						</li>
						<li class="nav-item  ">
							<a href="./?action=createKeychain" class="nav-link ">
								<span class="title">Créer un trousseau</span>
							</a>
						</li>
					</ul>
				</li>

				<li class="heading">
					<h3 class="uppercase">Imports</h3>
				</li>
				<li class="nav-item start {% if activePage == 'import' %}active open{% endif %}">
					<a href="./?action=import" class="nav-link nav-toggle">
						<i class="fa fa-download"></i>
						<span class="title">Importer un fichier .csv</span>
					</a>
				</li>

			</ul>
			<!-- END SIDEBAR MENU -->
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->
	</div>
	<!-- END SIDEBAR -->
