	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN SAMPLE TABLE PORTLET-->
			<div class="portlet box blue">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-cogs"></i> Liste des portes  </div>
					<div class="tools">
						<a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
							<tr>
								<th> #id </th>
								<th> Door name </th>
								<th> Door building </th>
								<th> Door floor </th>
							</tr>
							</thead>
							<tbody>
							{% for door in doors %}
								<tr>
									<td> {{ door.door_id }} </td>
									<td> {{ door.door_name }} </td>
									<td> {{ door.door_building }} </td>
									<td> {{ door.door_floor }} </td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- END SAMPLE TABLE PORTLET-->
		</div>
	</div>
