<div class="row">
	<div class="col-md-12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-green-haze">
					<i class="icon-settings font-green-haze"></i>
					<span class="caption-subject bold uppercase">Créer une nouvel emprunt</span>
				</div>
			</div>
			<div class="portlet-body form">
				<form role="form" class="form-horizontal" action="" method="post">
					<div class="form-body">
						<div class="form-group form-md-line-input">
							<label class="col-md-2 control-label" for="form_control_1">Emprunteur *</label>
							<div class="col-md-10">
								<select class="form-control" id="form_control_1" name="borrowing_user" required>
									{% for user in users %}
										<option value="{{ user.enssatPrimaryKey }}">{{ user.name }}</option>
									{% endfor %}
								</select>
								<span class="help-block">Personne empruntant un trousseau</span>
							</div>
						</div>

						<div class="form-group form-md-line-input">
							<label class="col-md-2 control-label" for="form_control_1">Trousseau *</label>
							<div class="col-md-10">
								<select class="form-control" id="form_control_1" name="borrowing_keychain" required>
									{% for keychain in keychains %}
										<option value="{{ keychain.id }}">{{ keychain.name }}</option>
									{% endfor %}
								</select>
								<span class="help-block">Trousseau à emprunter</span>
							</div>
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-2 col-md-10">
								<button type="submit" class="btn blue">Créer l'emprunt</button>
								<button type="button" class="btn default">Retour</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- END SAMPLE FORM PORTLET-->
	</div>
</div>
