<div class="row">
	<div class="col-md-12">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-green-haze">
					<i class="icon-lock font-green-haze"></i>
					<span class="caption-subject bold uppercase">Créer un nouveau canon</span>
				</div>
			</div>
			<div class="portlet-body form">
				<form role="form" class="form-horizontal" action="" method="post">
					<div class="form-body">
						<div class="form-group form-md-line-input">
							<label class="col-md-2 control-label" for="form_control_1">Nom du canon *</label>
							<div class="col-md-10">
								<input type="text" class="form-control" id="form_control_1" placeholder="102H-G-001" name="lock_name" value="{{ lock.lock_name }}" required disabled>
								<div class="form-control-focus"> </div>
								<span class="help-block">Ce nom permettra d'identifier le canon dans l'application.</span>
							</div>
						</div>
						<div class="form-group form-md-line-input">
							<label class="col-md-2 control-label" for="form_control_1">Associer une porte *</label>
							<div class="col-md-10">
								<select class="form-control" id="form_control_1" name="lock_door" required>
									<option value="none"
										{% if lock.lock_door == 'none' %}
											selected
										{% endif %}
									>(Aucune)</option>
									{% for door in doors %}
										<option value="{{ door.door_id }}"
											{% if lock.lock_door == door.door_id %}
												selected
											{% endif %}
										>{{ door.door_name }}</option>
									{% endfor %}
								</select>
								<div class="form-control-focus"> </div>
							</div>
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-2 col-md-10">
								<div class="hiddel-fields">
									<input type="hidden" name="lock_hidden_name" value="{{ lock.lock_name }}">
								</div>
								<button type="submit" class="btn blue">Ajouter un canon</button>
								<button type="button" class="btn default">Annuler</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- END SAMPLE FORM PORTLET-->
	</div>
</div>
