<!-- BEGIN DASHBOARD STATS 1-->
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" href="./?action=listBorrowings">
        <div class="visual">
            <i class="fa fa-arrows-h"></i>
        </div>
    	<div class="details">
            <div class="number">
                <span data-counter="counterup" data-value="{{borrowingCount}}">0</span> </div>
                <div class="desc"> Emprunts </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 yellow-crusta" href="./?action=listKeychains">
        <div class="visual">
            <i class="fa fa-tags"></i>
        </div>
    	<div class="details">
            <div class="number">
                <span data-counter="counterup" data-value="{{keychainCount}}">0</span>
            </div>
            <div class="desc"> Trousseaux </div>
        </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    	<a class="dashboard-stat dashboard-stat-v2 purple" href="./?action=listUsers">
        <div class="visual">
            <i class="fa fa-users"></i>
        </div>
        <div class="details">
            <div class="number">
                <span data-counter="counterup" data-value="{{userCount}}">0</span></div>
            <div class="desc"> Utilisateurs </div>
		</div>
		</a>
    </div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    	<a class="dashboard-stat dashboard-stat-v2 red" href="">
        <div class="visual">
            <i class="fa fa-key"></i>
        </div>
        <div class="details">
            <div class="number">
                <span data-counter="counterup" data-value="{{lateCount}}">0</span></div>
            <div class="desc"> Retards </div>
		</div>
		</a>
    </div>
</div>
<div class="clearfix"></div>
<!-- END DASHBOARD STATS 1-->
<div class="row">
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <!-- BEGIN PORTLET-->
            <div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-magnifier"></i>
						<span class="caption-subject bold uppercase">Recherchez des utilisateurs</span>
					</div>
				</div>
                <div class="portlet-body">
                    <div class="caption">
						<form class="sidebar-search" action="page_general_search_3.html" method="POST">
                            <div class="input-group">
                            	<input type="text" class="form-control" placeholder="Recherche...">
                            	<span class="input-group-btn">
                                	<a href="javascript:;" class="btn submit">
                                    	<i class="icon-magnifier"></i>
                                	</a>
                            	</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <!-- END PORTLET-->
    </div>
</div>
<!--
    	<div class="col-lg-8">
    		<div class="row">
                <div class="col-md-4">
                    <div class="tile-container">
                        <div class="tile-thumbnail">
                            <a href="javascript:;">
                            	<img src="../assets/pages/img/page_general_search/01.jpg" />
                            </a>
                        </div>
                        <div class="tile-title">
                            <h3>
                            	<a href="javascript:;">Mobile App</a>
                            </h3>
                            <a href="javascript:;">
                                <i class="icon-question font-blue"></i>
                            </a>
                            <a href="javascript:;">
                                <i class="icon-plus font-green-meadow"></i>
                            </a>
                            <div class="tile-desc">
                                <p>Activity:
                                    <a href="javascript:;">Bob Robson</a> -
                                    <span class="font-grey-salt">25 mins ago</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-pagination pagination-rounded">
                <ul class="pagination">
                    <li class="page-active">
                        <a href="javascript:;"> 1 </a>
                    </li>
                    <li>
                        <a href="javascript:;"> 2 </a>
                    </li>
                    <li>
                        <a href="javascript:;"> 3 </a>
                	</li>
                    <li>
                    	<a href="javascript:;"> 4 </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
-->
