/*
*	Problème :
*	Affichage d'un séparateur en bas de la carte d'identification
*	Solution :
*	Définir le padding-bottom à 0
*/
#loginDiv {
	padding-bottom: 0px;
}

/*
*	Problème :
*	Sweet Alert : les icônes sont carrés à cause du thème
*	Solution :
*	Override avec une balise
*/
.swal2-icon {
	border-radius: 50% !important;
}

/*
*	Problème :
*	Affichage en block à l'intérieur des tableaux
*	--> Affichage non optimal des boutons de modification/supression
*	Solution :
*	Affichage en inline-block des form à l'intérieur de cellules d'un tableau
*/
td>form {
    display: inline-block;
}
